#flashes .flash, ul.error li {
    padding: 30px;
    padding-left: 70px;
    font-size: 1.2em;
    margin-bottom: 15px;
    background-position: 1% 50%;
    background-repeat: no-repeat;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	list-style: none;
}

#flashes .error, ul.error li {
    color: #7B0404;
    background-color: #ffeedd;
    background-image: url(../images/icons/flash-error.png);
}

#flashes .success {
    color: #1E3712;
    background-color: #ddffdd;
    background-image: url(../images/icons/flash-success.png);
}

#flashes .info {
    color: #0D58A6;
    background-color: #eeeeff;
    background-image: url(../images/icons/flash-info.png);
}