fieldset {
    border: 1px #C1833E dashed;
    margin-bottom: 10px;
}
fieldset legend {
    padding: 5px 10px;
    font-size: 1.5em;
    color: #9a481c;
}
label {
    float: right;
}
label:after {
	content: ":";
}

/***************************** SPECIAL FORMS **********************************/
#chat form, #chat form table {
    width: 100%;
}
#chat form label {
    visibility: hidden;
}
#chat form textarea {
    width: 100%;
}