body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 70%;
    margin: 0px auto;
}
#header {
    background-color: #9a481c;
    padding: 5px 0;
}
#header .wrapper {
    height: 80px;
}
#header #logo {
    background-image: url('../images/interlos-logo-final.png');
    background-repeat: no-repeat;
    float: left;
    height: 73px;
    width: 70px;
}
#header h1 {
    margin: 0;
    margin-left: 100px;
    line-height: 80px;
    font-size: 3.5em;
    color: #ffde9a;
    font-variant: small-caps;
}
#menu {
    background: #F5D25A;
    border-top: 2px solid #C1833E;
    border-bottom: 1px solid #F1C11D;
    font-size: 1em;
    line-height: 2em;
}
#menu ul {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
#menu ul li {
    margin-right: 20px;
    display: inline;
}
#menu ul li a {
    color: #865A2C;
    font-weight: bolder;
    text-decoration: none;
}
#menu ul li a:hover {
    color: #4C3319;
}
#menu #clock {
    float: right;
    color: #865A2C;
}
#menu #team-navigation {
    float: right;
}
#content {
    min-height: 350px;
}
#subcontent {
    width: 78%;
}
#submenu{
    width: 20%;
    float: right;
    min-height: 200px;
}
#submenu ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    border-left: 1px #9a481c solid;
    font-size: 1.2em;
}
#submenu ul ul {
	list-style: circle;
	margin-left: 20px;
	font-size: 1em;
	border: 0;
}
#footer {
	height: 47px;
	clear: both;
	background: #FDF7CD;
	border-top: 2px solid #F9E7A2;
	margin-top: 20px;
}
/******************* BASIC ELEMENTS *******************************************/
h1, h2, h3, h4, h5, h6, strong, a {
    color: #9a481c;
}
a img {
    border: 0;
}
ul li, ol li {
    margin-top: 5px;
}
/******************** CLASSES AND IDS *****************************************/
#logos {
    padding: 10px;
}
#logos a {
    margin: 0;
    margin-right: 50px;
    display: inline;
}
h3.solution {
    background-image: url('../images/icons/plus.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
h3.unpacked {
    background-image: url('../images/icons/minus.png');
}
table tr.even {
	background: #FDF7CD;
}
/************************ SCORE STATS *****************************************/
#score-stats-wrapper {
	overflow: auto;
}
#score-stats td,#score-stats th {
	min-width: 40px;
	text-align: center;
}
#score-stats th {
	background: #F5D25A;
	color: #865A2C;
	padding: 2px;
}
#score-stats td.team {
	font-weight: bolder;
}
#score-stats td.done {
	background-color: green;
	color: white;
}
#score-stats tr.line td {
	border-top: 1px dotted #dddddd;
}
/************************ ANSWER HISTORY **************************************/
#answer-history th {
	background: #F5D25A;
	color: #865A2C;
	text-align: left;
}
#answer-history th, #answer-history td {
	padding: 2px 10px;
}
#answer-history {
	width: 100%;
}
#answer-history tr.correct {
	background-color: green;
	color: white;
}
/************************ TASK STATS ******************************************/
#task-stats {
	width: 100%;
}
#task-stats th {
	background: #F5D25A;
	color: #865A2C;
	text-align: left;
}
#task-stats th, #task-stats td {
	padding: 2px 10px;
}
/************************ RESULTS *********************************************/
.results {
	width: 100%;
}
.results th {
	background: #F5D25A;
	color: #865A2C;
	text-align: left;
}
.results th, .results td {
	padding: 2px 10px;
}